<div class="settings">
  <button (click)="toggleDropdown()">
    ⚙️
  </button>

  <div id="dropdown-menu" class="hidden">
    <a class="dropdown-item" (click)="navigateTo('/register')">Register</a>
    <a class="dropdown-item" (click)="navigateTo('/login')">Login</a>
  </div>
</div>

<div class="search-container">
  <mat-form-field class="search-bar">
    <input matInput type="text" [(ngModel)]="value">
    @if (value) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
      <mat-icon>close</mat-icon>
    </button>
    }
  </mat-form-field>

  <button class="search-button" mat-flat-button (click)="searchClicked()">Search</button>
</div>

<app-search-results *ngIf="showSearchResults"></app-search-results>