<div class="settings">
  <button (click)="toggleDropdown()">
    <img src="assets/settings.svg" alt="Settings">
  </button>

  <div id="dropdown-menu" class="hidden">
    <a class="dropdown-item" (click)="navigateTo('/register')">Register</a>
    <a class="dropdown-item" (click)="navigateTo('/login')">Login</a>
  </div>
</div>

<div class="search-container">
  <input type="text" class="search-bar" placeholder="Search for volunteer opportunities...">
  <button class="search-button" (click)="searchClicked()">Search</button>
</div>

<app-search-results *ngIf="showSearchResults"></app-search-results>

