/* You can add global styles to this file, and also import other style files */
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background: rgb(43, 70, 91);
    background: linear-gradient(155deg, rgba(43, 70, 91, 1) 0%, rgba(123, 192, 245, 1) 100%);
  }